<div class="container">

	<div class="cssload-dots" ng-if="loading">
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
		<div class="cssload-dot"></div>
	</div>

	<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
				<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix>
				<!--<feBlend in2="goo" in="SourceGraphic" result="mix" ></feBlend>-->
			</filter>
		</defs>
	</svg>

	<map zoom="11" id="map" center="[47.609722,-122.333056]">

		<marker ng-if="marks === true && mapData" ng-repeat="pos in mapData" position="{{pos.lat}},{{pos.lon}}" on-click="showInfoWindow(event, pos)"></marker>

		<heatmap-layer ng-if="heat === true && mapData" data="mapData" id="foo"></heatmap-layer>
	</map>

	<div class="step2" ng-show="!loading" ng-hide="hideSteps">
        <div class="step1">
            <span class="title">Step 2: </span><span>Select your route(s) and click either "heatmap" or "markers" to see specific stop location</span>
        </div>

		 <div class="cancel" ng-click="hideSteps = true">
        	<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    	</div>
	</div>

	<div class="controls" ng-show="!loading">

		<div ng-dropdown-multiselect="" options="routes" selected-model="selectedRoutes" extra-settings="mOptions" translation-texts="mTexts"></div>

		<div>

			<div class="checkbox">
			 	<label><input type="checkbox" value="marks" ng-click="marks = !marks">Show Stops</label>
			</div>
			<div class="checkbox">
			 	<label><input type="checkbox" value="heat" ng-click="heat = !heat">Heat Map</label>
			</div>
		</div>

		<div>
			<span>Filter by Lateness (min)</span>
			<input type="number" id="lateness" name="quantity" min="0" ng-model="lateness">
		</div>

		<button type="button" class="btn btn-primary editOptions" ng-click="changeOptions()">Edit Times</button>

	</div>


</div>
